html, body {
    height: 100%;
    margin: 0;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.main #moreinfo{

position:absolute;
bottom: 0;
font-family: 'Archivo', sans-serif;
font-size: 0.8em;
color: white;
padding-bottom: 5px;
text-decoration: none;
}
lor: #ABB7B7;
}

#text{
  font-family: 'Archivo', sans-serif;
  font-size: 6em;
  color: white;
}